<aa-todo-header></aa-todo-header>
<section class="main">
  <input
    *ngIf="todos.length"
    id="toggle-all"
    class="toggle-all"
    type="checkbox"
    #toggleall
    [checked]="hasCompleted()"
    (click)="setAllTo(toggleall)"
  >
  <div class="todo-list" [@.disabled]="disableAnimation">
    <aa-todo-item *ngFor="let todo of todos; trackBy: trackById"
                  [todo]="todo"
                  (itemRemoved)="remove($event)"
                  (itemModified)="update($event)"></aa-todo-item>
  </div>
</section>
<aa-todo-footer></aa-todo-footer>
